@using MVCPL.Models
<!DOCTYPE html>
<html style="min-height: 100%; position: relative">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Blog Host", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Browse", "Index", "User")</li>
                        <li>@Html.ActionLink("My Blog", "Index", "Blog", new { userId = ((UserVM)Session["UserInfo"]).Id}, new { })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
                    }                    
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="@Url.Action("LogOut", "Login")">Log Out</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Index", "Login")">Log In</a></li>
                        <li><a href="@Url.Action("Register", "Login")">Register</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div style="padding-bottom: 90px">
            @RenderBody()
        </div>       
        <footer class="container body-content" style="position: absolute; bottom: 0; width: 100%">
            <hr />
            <p style="text-align: center">&copy; @DateTime.Now.Year – ASP.NET application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
