@using MVCPL.Models
@model IEnumerable<UserBlogVM>
@{
    ViewBag.Title = "Index";
}
<h2>User Search:</h2>
<!--@using (Ajax.BeginForm("FindPosts", "Post", null,
                new AjaxOptions() { UpdateTargetId = "searchResult" },
                new { id = "ajaxForm" }))
{
    <input type="text" name="searchPattern" onchange="$('#ajaxForm').trigger('submit');" />
    <select id="searchResult"></select>
}-->

<h2>Users:</h2>
@foreach (var user in Model)
{
    <h3>@user.User.Name</h3>
    @Html.ActionLink("Edit", "Edit", "User", new { user.User.Id }, new { @class = "btn btn-info glyphicon glyphicon-edit" })
    @Html.ActionLink("Delete", "Delete", "User", new { user.User.Id }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
    if (user.Blog.Posts.Count() != 0)
    {
        <h3>@user.User.Name's Posts:</h3>
        foreach (var post in user.Blog.Posts)
        {
            <div>@post.Post.Title</div>
            <div>@post.Post.Annotation</div>
            @Html.ActionLink("Delete", "Delete", "Post", new { post.Post.Id }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
            <div id="shortLink"></div>
        }
    }
}

